<h1> Meet Archie the Avocado</h1>
<h4>He is your new house plant. You are responsible for taking care of him. (he has been known to have an attitude)</h4>
<h4>You have been <strong><i>trying</i></strong> for <%= @@arch.day %> days.</h4>

<br>

<form action="/water" method="post">
  <button type="submit" class="btn">Change water</button>
</form>

<br>

<form action="/sunlight" method="post">
  <button type="submit" class="btn">Place in sunlight</button>
</form>

<br>

<form action="/toss" method="post">
  <button type="submit" class="btn">Give up...</button>
</form>

