<!DOCTYPE html>
<html>
  <head>
    <title>Archie The Avocado</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body style="background-image: url('https://i.imgur.com/MoRkYJu.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>