<h1>Add a new parcel</h1>

<form action="/parcels" method="post">
  <div class="form-group">
    <label for="parcel_weight">Weight - lbs</label>
    <input id="parcel_weight" name="parcel_weight" type="text">

    <label for="parcel_length">Length - in</label>
    <input id="parcel_length" name="parcel_length" type="text">

    <label for="parcel_width">Width - in</label>
    <input id="parcel_width" name="parcel_width" type="text">
    
    <label for="parcel_height">Height - in</label>
    <input id="parcel_height" name="parcel_height" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>

<a href="/parcels">Return to parcel list</a>