<h1>Add a new stage</h1>

<form action="/stages" method="post">
  <div class="form-group">
    <label for="stage_name">Stage Name</label>
    <input id="stage_name" name="stage_name" type="text">

    <label for="music_style">Music Style</label>
    <input id="music_style" name="music_style" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>

<a href="/stages">Return to stages list</a>