<h1>Triangle Tester</h1>

<form action="/test" method="post">
  <div class="form-group">
    <label for="Side A">Side Length A</label>
    <input id="n" name="a" class="form-control" type="text">
    <label for="Side B">Side Length B</label>
    <input id="n" name="b" class="form-control" type="text">
    <label for="Side C">Side Length C</label>
    <input id="n" name="c" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>