<div style="position: relative">
  <a href="/" style="top: -40px; left: 50%; padding: 40px; background: white; margin-top: 100px; position: absolute">Start Over?</a>
  <img style="width: 100vw; height: auto" src="https://i.ytimg.com/vi/H6R2WRYyI08/maxresdefault.jpg" alt="End">
</div>